$primary: #076CAF;

.new-checklist-prompt {
	width: 40vw;
	height: 40vh;
	display: flex;
	background-color: white;
	justify-content: center;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 1rem 2rem;
		flex-grow: 1;

		label {
			&:not(:nth-child(3)) {
				padding-bottom: 2rem;
			}

			align-content: space-between;
			display: flex;
			width: 100%;
			justify-content: space-between;
		}
	}
}

.add-new {
	border: 0px !important;
	padding: 3px !important;
	margin-top: 12px;

	.checklist-item-name {
		font-weight: 500;
		color: $primary;
	}

}